<link href="../polymer/polymer.html" rel="import">
<link href="../core-style/core-style.html" rel="import">
<link rel="import" href="../font-roboto/roboto.html"/>

<style>
/**
 * setup basis for rem units
 */
html {
    font-family: 'RobotoDraft','Roboto','Helvetica Neue', Helvetica, Sans-Serif;
    font-size: 100%; /*default 16px assumed*/
    line-height: 1.5;
}
</style>

<core-style id="robrez-typography">

.rt-display4,
::content .rt-display4 {
    /* light 112sp */
    font-size: 7rem; /* 112 / 16 */
    line-height: normal;
    font-weight: 300;
    letter-spacing: -.275rem;
}

.rt-display3,
::content .rt-display3 {
    /* regular 56sp */
    font-size: 3.5rem; /* 56 / 16 */
    line-height: normal;
    font-weight: 400;
    letter-spacing: -.14rem;
}

.rt-display2,
::content .rt-display2 {
    /* regular 45sp leading48sp */
    font-size: 2.8125rem; /* 45 / 16 */
    line-height: normal;
    font-weight: 400;
}

.rt-display1,
::content .rt-display1 {
    /* regular 34sp leading40sp */
    font-size: 2.125rem; /* 34 / 16 */
    line-height: normal;
    font-weight: 400;
}

.rt-headline,
::content .rt-headline {
    /* regular 24sp leading32sp */
    font-size: 1.5rem; /* 24 / 16 */
    line-height: normal;
    font-weight: 400;
}

.rt-title,
::content  .rt-title {
    /* medium 20sp leading?? */
    font-size: 1.25rem; /* 20 / 16 */
    line-height: normal;
    font-weight: 500;
}

.rt-subhead,
::content .rt-subhead {
    /* regular 16sp leading24sp */
    font-size: 1rem; /* 16 / 16 */
    line-height: 1.5rem;
    font-weight: 400;
}

.rt-body2,
::content .rt-body2 {
    /* medium 14sp leading24sp */
    font-size: .875rem; /* 14 / 16 */
    line-height: 1.5rem;
    font-weight: 500;
}

.rt-body,
::content .rt-body {
    /* regular 14sp leading20sp */
    font-size: .875rem; /* 14 / 16 */
    line-height: 1.25rem;
    font-weight: 400;
}

.rt-caption,
::content .rt-caption {
    /* regular 12sp */
    font-size: .75rem; /* 12 / 16 */
    line-height: normal;
    font-weight: 400;
}

.rt-button,
::content .rt-button {
    /* medium 14sp */
    font-size: .875rem; /* 14 / 16 */
    line-height: normal;
    text-transform: uppercase;
    font-weight: 500;
}

.rt-light,
::content .rt-light {
    color: rgba(0,0,0,.87);
}

.rt-dark,
::content .rt-dark {
    color: rgba(255,255,255,.87);
}

.rt-light.rt-display1,
.rt-light.rt-display2,
.rt-light.rt-display3,
.rt-light.rt-display4,
.rt-light.rt-caption,
.rt-light .rt-display1,
.rt-light .rt-display2,
.rt-light .rt-display3,
.rt-light .rt-display4,
.rt-light .rt-caption,
::content .rt-light.rt-display1,
::content .rt-light.rt-display2,
::content .rt-light.rt-display3,
::content .rt-light.rt-display4,
::content .rt-light.rt-caption,
::content .rt-light .rt-display1,
::content .rt-light .rt-display2,
::content .rt-light .rt-display3,
::content .rt-light .rt-display4,
::content .rt-light .rt-caption {
    color: rgba(0,0,0,.54);
}

.rt-dark.rt-display1,
.rt-dark.rt-display2,
.rt-dark.rt-display3,
.rt-dark.rt-display4,
.rt-dark.rt-caption,
.rt-dark .rt-display1,
.rt-dark .rt-display2,
.rt-dark .rt-display3,
.rt-dark .rt-display4,
.rt-dark .rt-caption,
::content .rt-dark.rt-display1,
::content .rt-dark.rt-display2,
::content .rt-dark.rt-display3,
::content .rt-dark.rt-display4,
::content .rt-dark.rt-caption,
::content .rt-dark .rt-display1,
::content .rt-dark .rt-display2,
::content .rt-dark .rt-display3,
::content .rt-dark .rt-display4,
::content .rt-dark .rt-caption {
    color: rgba(255,255,255,.54);
}

</core-style>

